::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #282828;
}

body {
    background-color: #282828;
    overflow-x: hidden;
}

h1 {
    text-underline-offset: initial;
    font-size: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: white;
}

.schooltable {
    color: white;
    text-decoration: none;
}

footer {
    color: white;
    position: relative;
    bottom: 20%;
    left: 20%;
}

.aboutPrivacy {
    text-decoration: none;
    font-size: 60%;
    font-family: sans-serif;
    color: white;
}

.mail {
    text-decoration: none;
    color: white;
    font-size: 60%;
    font-family: sans-serif;
}