body {
    background-color: #282828;
}

h1 {
    text-underline-offset: initial;
    font-size: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: white;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: red;
}