@viewport {
    width: device-width;
}

::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar-track { 
    display: none; 
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    height: 100%;
    width: 100%;
    position: relative;
    bottom: 0px; left:0px;
    background-color: white;
}

.light-mode{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    background-color: white;
    overflow-x: hidden;
}

.light-mode-button{
    font-family: sans-serif;
    text-decoration: none;
    color: #bf8aff;
    display: block;
    height: auto;
    width: auto;
    padding: 8px;
    margin: 6px;
    background-color: rgb(92, 82, 82);
    border-radius: 10px;
    position:fixed;
    bottom: 0%;
    right: 0;
    border: none;
}
.navBar {
    font-family: sans-serif;
    text-align: center;
    text-decoration: none;
    
    color: #bf8aff;
    display: block;
    height: auto;
    width: auto;
    padding: 8px;
    margin: 6px;
    background-color: rgb(92, 82, 82);
    border-radius: 10px;
}

.navBar:hover {
    background-color: rgb(116, 102, 102);
}

.navi{
    float: left;
    position: relative;
    left: 50%;
}

.navigation{

    float: left;
    position: relative;
    left: -50%;
}

li {
    float:left;
    position: relative;
 
}

ul {
    list-style-type: none;
}

.pdf{
    overflow: hidden;
}

.mail {
    text-decoration: none;
    font-size: 60%;
    font-family: sans-serif;
    color: white;
}

footer {
    position: fixed;
    left: 10%;
    bottom: 2%;
}


@media only screen and (max-width: 500px){
    .info{
        font-family: sans-serif;
        position: fixed;
        left: 30%;
        bottom: 50%;
        color: white;
    }
}