.osman {
    font-family: sans-serif;
    text-decoration: none;
    color: #e21313;
    display: block;
    height: auto;
    width: auto;
    padding: 8px;
    margin: 6px;
    background-color: #66a3ff;
    border-radius: 10px;
}
